html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background: #25a9b4;
}

.polylion {
  max-width: 50%;
}

.polylion polygon {
  opacity: 0;
}
.no-js .polylion polygon {
  opacity: 1;
}

.polylion {
  height: 800px;
}
.no-cssanimations .polylion > polygon {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
